<div ng-controller="editController">
    <div ng-click="changeMode(task)">
        <p><b>Name: </b>
            <span ng-if="task.mode !== 'edit'" class="taskName" ng-click="editTodo(task)">{{ task.name }}</span>
            <input minlength="20" ng-if="task.mode === 'edit'" type="text" ng-value="task.name" placeholder=""
                   ng-model="currentTask.name" required/>
            <span ng-show="currentTask.name.$error.min">
      The value must be in range 0 to 10!</span>
        </p>
    </div>
    <div><b>Date: </b><span>{{ task.date | date:'medium'}}</span></div>

    <p><b>Status: </b>{{ task.status }}</p>
    <button ng-if="task.mode === 'edit'" ng-click="save(task)">Save</button>
</div>
