<div ng-controller="toDoController">
    <h3>Active ({{ tasks.length }})</h3>
    <span ng-if="tasks.length === 0">You have no active tasks!</span>
    <div class="filters">
        <input type="text" ng-model="searchText">
        <button class="filter" ng-click="filterByDates()">Order</button>
    </div>

                <ul class="todoList">
                    <li ng-repeat="task in tasksByStatus.doneTodos | filter : searchText:name:date | orderBy : 'date'">
                        <todo></todo>
                    </li>
                </ul>
                <ul class="todoList">
                    <li ng-repeat="task in tasksByStatus.newTodos | filter : searchText:name:date | orderBy : 'date'">
                        <todo></todo>
                    </li>
                </ul>
</div>