<div>
    <h3>Active ({{ tasks.length }})</h3>
    <div class="filters">
        <input type="text" ng-model="searchText">
        <input type="date" name="date" id="search-date" ng-change="todoCtrl.onDateChange()" ng-model="todoCtrl.date"/>
    </div>

    <ul class="todoList">
        <li ng-repeat="task in todoCtrl.tasksByStatus.doneTodos | filter : searchText:name:date | orderBy : 'date'">
            <todo></todo>
        </li>
    </ul>
    <ul class="todoList">
        <li ng-repeat="task in todoCtrl.tasksByStatus.newTodos | filter : searchText:name:date | orderBy : 'date'">
            <todo></todo>
        </li>
    </ul>
</div>